@import "./_navigation.css";

body .header {
  padding: 2rem 0;
  border-radius: 20px;

  height: auto;
}
hr {
  margin-top: 0px;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
